# Python
__pycache__/
*.pyc

# Virtual env
venv/
.venv/

# Env files
.env

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Temp / DB
*.db
*.sqlite3

# Secrets
secrets.json
config.json